<div class="card col-5" style="margin: auto;">
  <div class="card-header">
    <h5 class="card-title" style="text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg>
      Registrar Nuevo Vehículo</h5>
  </div>
  <form [formGroup]="formulario">
   <p></p>
   <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Código:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control is-invalid" formControlName="codigo" 
            [ngClass]="{'is-invalid':
              formulario.get('codigo')?.invalid && 
              formulario.get('codigo')?.touched}" 
            style="font-size: 12px;">
        <span class="alert text-danger" 
            *ngIf="formulario.get('codigo')?.invalid && 
            formulario.get('codigo')?.touched" style="font-size: 10px;">Este campo es obligatorio y debe tener máximo 4 caracteres. 
        </span>
      </div>
    </div>
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Marca:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="marca" formControlName="marca" 
        [ngClass]="{'is-invalid':
          formulario.get('marca')?.invalid && 
          formulario.get('marca')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('marca')?.invalid && 
        formulario.get('marca')?.touched" style="font-size: 10px;">Este campo es obligatorio y debe tener mínimo 1 caracter. 
    </span>
      </div>
    </div>
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Modelo:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="modelo" formControlName="modelo" 
        [ngClass]="{'is-invalid':
          formulario.get('modelo')?.invalid && 
          formulario.get('modelo')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('modelo')?.invalid && 
        formulario.get('modelo')?.touched" style="font-size: 10px;">Este campo es obligatorio y debe tener mínimo 1 caracter. 
    </span>
      </div>
    </div>
    <!--<div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Color:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="color" formControlName="color" 
          [ngClass]="{'is-invalid':
          formulario.get('color')?.invalid && 
          formulario.get('color')?.touched}" 
          style="font-size: 12px;">
          <span class="alert text-danger" 
            *ngIf="formulario.get('color')?.invalid && 
            formulario.get('color')?.touched" style="font-size: 10px;">Este campo es obligatorio, no se admiten números. 
          </span>
        </div>
      </div>
    </div>-->
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Años:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="anio" formControlName="anio" 
        [ngClass]="{'is-invalid':
          formulario.get('anio')?.invalid && 
          formulario.get('anio')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('anio')?.invalid && 
        formulario.get('anio')?.touched" style="font-size: 10px;">Este campo es obligatorio y se requiere solo números. 
    </span>
      </div>
    </div>
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Kilometraje:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="kilometraje" formControlName="kilometraje" 
        [ngClass]="{'is-invalid':
          formulario.get('kilometraje')?.invalid && 
          formulario.get('kilometraje')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('kilometraje')?.invalid && 
        formulario.get('kilometraje')?.touched" style="font-size: 10px;">Este campo es obligatorio, se acepta solo números. 
    </span>
      </div>
    </div>
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Precio:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" name="precio" formControlName="precio" 
        [ngClass]="{'is-invalid':
          formulario.get('precio')?.invalid && 
          formulario.get('precio')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('precio')?.invalid && 
        formulario.get('precio')?.touched" style="font-size: 10px;">Este campo es obligatorio y se acepta solo números. 
    </span>
      </div>
    </div>
    <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Calificación:</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" name="calificacion" formControlName="calificacion" 
        [ngClass]="{'is-invalid':
          formulario.get('calificacion')?.invalid && 
          formulario.get('calificacion')?.touched}" 
        style="font-size: 12px;">
    <span class="alert text-danger" 
        *ngIf="formulario.get('calificacion')?.invalid && 
        formulario.get('calificacion')?.touched" style="font-size: 10px;">Este campo es obligatorio y se acepta solo números. 
    </span>
      </div>
    </div>
   <div class="row mb-1 form-control-sm" style="font-size: 13px;">
      <label for="inputPassword3" class="col-sm-3 col-form-label ">Imagen:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="imagen" formControlName="imagen" 
        [ngClass]="{'is-invalid':
          formulario.get('imagen')?.invalid && 
          formulario.get('imagen')?.touched}" 
        style="font-size: 12px;">
        <span class="alert text-danger" 
            *ngIf="formulario.get('imagen')?.invalid && 
              formulario.get('imagen')?.touched" style="font-size: 10px;">Este campo es obligatorio. 
        </span>
      </div>
    </div>
    <button class="btn btn-outline-success" type="submit" style="font-size: 14px; margin-left: 125px;" (click)="guardar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
      </svg>Guardar</button>
    <button class="btn btn-outline-secondary" style="margin-left: 10px; font-size: 14px; margin: auto" [routerLink]="['/vehiculos']"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16" style="font-size: 14px;">
      <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>Regresar</button>
  </form>
  <div class="card-footer">
    
  </div>
</div>